<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- candilib config -->
        <add key="CandilibUri" value="https://beta.interieur.gouv.fr/candilib/api/v2/candidat/centres" />
        <add key="UserId" value="5e52a4e443d687001177a04e" />
        <add key="ClientId" value="61ca43b2-3ffc-4e25-8ac3-ab8fd10ef21b.2.11.2-beta1." />
        <add key="RequestId" value="582867fc-5602-431a-8000-cf733f7b5a3f" />
        <add key="AuthorizationBearer" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlNTJhNGU0NDNkNjg3MDAxMTc3YTA0ZSIsImxldmVsIjowLCJjYW5kaWRhdFN0YXR1cyI6IjAiLCJub21OYWlzc2FuY2UiOiJCRU5KRUxMT1VOIiwiY29kZU5lcGgiOiIxODA3OTIzMDExODUiLCJkZXBhcnRlbWVudCI6IjkxIiwiZW1haWwiOiJhYmVuamVsbG91bjE5ODlAZ21haWwuY29tIiwicG9ydGFibGUiOiIwNjAxMDY2Nzc1IiwicHJlbm9tIjoiQWJkZWxheml6IiwiZmlyc3RDb25uZWN0aW9uIjp0cnVlLCJkYXRlRVRHIjoiMjAyMy0xMS0wMyIsImlzSW5SZWNlbnRseURlcHQiOmZhbHNlLCJpYXQiOjE2MjA0NjMzMDQsImV4cCI6MTYyMDUxODM5OH0.TohfAsw8c3tJWrhi88kyGDjS9zTYoFwEDF2-rmgnpDw" />
        <!-- wedding config -->
        <add key="WeddingUri" value="https://www.espace-citoyens.net/asnieres-sur-seine/espace-citoyens/RendezVous/ProcessListeCreneauxDisponibles" />
        <add key="Type" value="listeCreneaux" />
        <add key="Key" value="39201108e884dafea5e80b104b728459" />
        <add key="IdQdt" value="645" />
        <add key="Origine" value="EspCitoyen" />
        <add key="IdSit" value="1" />
        <add key="DateFin" value="31/12/21" />
        <add key="NbCreneauxAJoindreUri" value="1" />
        <add key="ListeIdsReserves" value="undefined" />
    </appSettings>
</configuration>