<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- candilib config -->
        <add key="CandilibUri" value="https://beta.interieur.gouv.fr/candilib/api/v2/candidat/centres" />
        <add key="UserId" value="5e52a4e443d687001177a04e" />
        <add key="ClientId" value="4eaff6f3-d247-412b-89be-f9a0b6bc84c8.2.11.2-beta1." />
        <add key="RequestId" value="bde8ed3d-ede6-47ad-a1aa-f10e26480fb9" />
        <add key="AuthorizationBearer" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlNTJhNGU0NDNkNjg3MDAxMTc3YTA0ZSIsImxldmVsIjowLCJjYW5kaWRhdFN0YXR1cyI6IjAiLCJub21OYWlzc2FuY2UiOiJCRU5KRUxMT1VOIiwiY29kZU5lcGgiOiIxODA3OTIzMDExODUiLCJkZXBhcnRlbWVudCI6IjkxIiwiZW1haWwiOiJhYmVuamVsbG91bjE5ODlAZ21haWwuY29tIiwicG9ydGFibGUiOiIwNjAxMDY2Nzc1IiwicHJlbm9tIjoiQWJkZWxheml6IiwiZmlyc3RDb25uZWN0aW9uIjp0cnVlLCJkYXRlRVRHIjoiMjAyMy0xMS0wMyIsImlzSW5SZWNlbnRseURlcHQiOmZhbHNlLCJpYXQiOjE2MjA5NzU5ODUsImV4cCI6MTYyMTAzNjc5OH0.qwjiG3UJHrD38bGnpfW9OiEQ7gVzd-7JMAV8gY2wZMc" />
        <!-- wedding config -->
        <add key="WeddingUri" value="https://www.espace-citoyens.net/asnieres-sur-seine/espace-citoyens/RendezVous/ProcessListeCreneauxDisponibles" />
        <add key="Type" value="listeCreneaux" />
        <add key="Key" value="39201108e884dafea5e80b104b728459" />
        <add key="IdQdt" value="645" />
        <add key="Origine" value="EspCitoyen" />
        <add key="IdSit" value="1" />
        <add key="DateFin" value="31/12/21" />
        <add key="NbCreneauxAJoindreUri" value="1" />
        <add key="ListeIdsReserves" value="undefined" />
        <!-- vaccin config-->
        <add key="VaccinUri" value="https://www.doctolib.fr" />
        <add key="VaccinSearchArea" value="saverne" />
        <add key="VaccinParameters" value="ref_visit_motive_id=6970&amp;ref_visit_motive_ids%5B%5D=6970&amp;ref_visit_motive_ids%5B%5D=7005&amp;speciality_id=5494&amp;search_result_format=json&amp;force_max_limit=2" />
        <!-- email notification config -->
        <add key="EmailSender" value="EmailSender" />
        <add key="EmailSenderPassword" value="EmailSenderPassword" />
        <add key="EmailReceiver" value="EmailReceiver" />
    </appSettings>
</configuration>