<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- candilib config -->
        <add key="CandilibUri" value="https://beta.interieur.gouv.fr/candilib/api/v2/candidat/centres" />
        <add key="UserId" value="5e52a4e443d687001177a04e" />
        <add key="ClientId" value="eab85cc7-8edd-4ced-a365-0bacac45d9ee.2.11.2-beta1." />
        <add key="RequestId" value="0f06faa0-cf6f-41bc-b70f-e05d79414244" />
        <add key="AuthorizationBearer" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlNTJhNGU0NDNkNjg3MDAxMTc3YTA0ZSIsImxldmVsIjowLCJjYW5kaWRhdFN0YXR1cyI6IjAiLCJub21OYWlzc2FuY2UiOiJCRU5KRUxMT1VOIiwiY29kZU5lcGgiOiIxODA3OTIzMDExODUiLCJkZXBhcnRlbWVudCI6IjkxIiwiZW1haWwiOiJhYmVuamVsbG91bjE5ODlAZ21haWwuY29tIiwicG9ydGFibGUiOiIwNjAxMDY2Nzc1IiwicHJlbm9tIjoiQWJkZWxheml6IiwiZmlyc3RDb25uZWN0aW9uIjp0cnVlLCJkYXRlRVRHIjoiMjAyMy0xMS0wMyIsImlzSW5SZWNlbnRseURlcHQiOmZhbHNlLCJpYXQiOjE2MjA1NDc3MTksImV4cCI6MTYyMDYwNDc5OH0.61rlPh_Yo50ZqleLqUyJCbYIGySg2xoM3QTfO5avsKg" />
        <!-- wedding config -->
        <add key="WeddingUri" value="https://www.espace-citoyens.net/asnieres-sur-seine/espace-citoyens/RendezVous/ProcessListeCreneauxDisponibles" />
        <add key="Type" value="listeCreneaux" />
        <add key="Key" value="39201108e884dafea5e80b104b728459" />
        <add key="IdQdt" value="645" />
        <add key="Origine" value="EspCitoyen" />
        <add key="IdSit" value="1" />
        <add key="DateFin" value="31/12/21" />
        <add key="NbCreneauxAJoindreUri" value="1" />
        <add key="ListeIdsReserves" value="undefined" />
    </appSettings>
</configuration>